/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Segoe UI', Tahoma, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  user-select: none;
  line-height: 1.6;
}

::-webkit-scrollbar {
  width: 0;
}

/* THEME VARIABLES */
:root {
  --bg-color: #ffffff;
  --text-color: #1e1e1e;
  --accent-color: #3399ff;
  --accent-hover: #15ff00;
  --mainclr: #1e1e1e;
}

body.dark {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --accent-color: #3399ff;
  --accent-hover: #15ff00;
}

/* LAYOUT */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body {
  overflow-y: auto;
}
/* HEADER */
#fakeheader {
  width: 100%;
  height: 4rem;
  background-color: transparent;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  background-color: var(--accent-color);
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 1000;
}
@media (min-width: 1400px) {
  header {
    padding: 0 calc((100% - 1400px) / 2);
  }
}

.logo {
  display: inline-block;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--mainclr);
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  padding: 0.5rem 1rem;
  color: var(--mainclr);
  font-weight: 600;
}

.nav-links a:hover {
  border-radius: 5px;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-btn,
#theme-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--mainclr);
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 280px;
  text-align: start;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  flex-direction: column;
  padding: 2rem 1rem;
  transition: 0.7s;
  display: flex;
  z-index: 1001;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100%;
  padding-bottom: 2rem;
  border: 1.5px solid var(--accent-color);
}

.sidebar li {
  margin: 1rem 0;
}

.sidebar a {
  padding: 0.5rem;
  color: var(--mainclr);
  font-weight: bold;
}

@media (max-width:400px) {
  .sidebar {
    width: 100%;
  }
}

.close-btn {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
  color: var(--mainclr);
}

ul {
  list-style: none;
}

/* RESPONSIVE */
@media(max-width:800px) {
  .nav-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

@media(min-width:0px) {
  #theme-toggle {
    display: block;
  }
}

/* SECTION BASE */
section {
  padding: 2rem;
  border-bottom: 1px solid #ccc;
  scroll-margin-top: 3rem;
  height: 100%;
  width: 100%;
}

body.dark section {
  border-color: #444;
}

.section-center {
  text-align: center;
  margin: 0;
}

.section-center h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.section-center p {
  margin: 1rem auto;
  max-width: 700px;
}

/* Home */
/* PROFILE */
.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 2px solid var(--accent-color);
}

.title {
  display: inline-block;
  color: var(--accent-color);
  font-weight: bold;
}

/* CTA BUTTONS */
.CTAbtn {
  display: inline-block;
  background-color: transparent;
  color: var(--text-color);
  border-radius: 30px;
  padding: 0.8rem 2rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  user-select: none;
  border: 1.8px solid var(--accent-color);
  padding: 1rem 2.5rem;
  margin: 0.5rem;
}

.CTAbtn:hover,
.CTAbtn:focus {
  background-color: var(--accent-hover);
  box-shadow: 0 4px 12px var(--accent-color);
  color: var(--text-color);
  transform: scale(1.05);
  color: var(--bg-color);
}

/* SKILLS */
/* card layout */
.cards-section {
  display: flex;
  justify-content: center;
}

/* Grid */
.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: 1.2rem;
}

/* Card */
.card {
  margin-top: 1.5rem;
  border: 1.8px solid var(--accent-color);
  border-radius: 20px;
  padding: 1.5rem;
  background: transparent;
}

.card:hover {
  transform: translateY(-10px);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 10px 25px var(--accent-color);
}

.card h3 {
  margin-bottom: 1rem;
}

/* Responsive */
@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: repeat(1, 245px);
    justify-content: center;
  }
}

@media (min-width: 900px) {
  .cards-container {
    grid-template-columns: repeat(3, 245px);
    justify-content: center;
  }

  .cards-container> :nth-child(4):last-child {
    grid-column: 2;
  }
}

/* Skills */
.skill-inline {
  list-style: none;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill-inline li {
  margin-top: 1.3rem;
  display: grid;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
  color: var(--text-color);
}

.skill-inline i {
  font-size: 1.3rem;
}

#skills h2 {
  font-size: 2rem;
}

/* Icon Colors */
.html {
  color: #E44D26;
}

.css {
  color: #2965F1;
}

.js {
  color: #F0DB4F;
}

.php {
  color: #777BB4;
}

.python {
  color: #3776AB;
}

.csharp {
  color: #3b05ff;
}

.mysql {
  color: #00618A;
}

.postgres {
  color: #336791;
}

.git {
  color: #F1502F;
}

.github {
  color: #181717;
}

.vscode {
  color: #007ACC;
}

.visualstudio {
  color: #5C2D91;
}

/* Project */
.project-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-content h3 {
  margin-bottom: 2rem;
}

.project-content a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 800;
}

.card p {
  margin-bottom: 4rem;
}

.CardBtn {
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 30px;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  user-select: none;
  border: 1.8px solid var(--accent-color);
  margin-top: auto;
}

.CardBtn:hover {
  box-shadow: 0 4px 12px var(--accent-color);
  color: var(--bg-color);
  transform: scale(1.05);
  color: var(--bg-color);
}

/* CONTACT */
#contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#contact p {
  margin: 0.4rem 0;
  font-size: 1.1rem;
  text-align: center;
}

#contact a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 600;
}

.contect a:hover {
  color: var(--accent-hover);
  transition: transform 0.2s ease-in;
}

/* FOOTER */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  background: var(--accent-color);
  color: var(--text-color);
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}